@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  background-color: #efeace;
  color: #021b2e;
  font-size: 16px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Playfair Display";
    font-weight: 800;
    font-size: 3.5rem;
}

nav {
  background-color: #021b2e;
  color: #F9F9EF;
  width: 90%;
  margin: auto;
  max-width: 1800px;
  padding: 0.9rem 2rem;
  display: inline-flex;
  gap: 30rem;
  border-radius: 3rem 3rem;
}

.logo {
  font-family: "Playfair Display";
  font-weight: 800;
}

nav>a{
    color: #12BA9C;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 5rem;
}

nav>ul a{
    color: #F9F9EF;
    text-decoration: none;
}

header{
    width: 95%;
    margin: auto;
    max-width: 1800px;
    display: flex;
    height: 80vh;
}

header div{
    width: 40%;
}

header img{
    width: 60%;
}

header a{
    color: #021b2e;
}

.orange{
    background-color: #FF5710;
    color: #efeace;
}

.teal{
    background-color: #12BA9C;
    color:#efeace;
}

.button{
    padding: 0.9rem 1.5rem;
    text-decoration: none;
    border-radius: 1.5rem 1.5rem;
}

/* Esto es de la Clase */

section{
    width: 95%;
    max-width: 1800px;
    margin:auto;
}

.booking input{
    background-color: #EFE4CE;
    border-color: #ADA6A2;
    border-style: solid;
    border-width: 2px;
    padding: 1.3rem 1.5rem;
    border-radius: 1rem;
}

.booking input[type="submit"]{
  background-color: #14BA9C;
  border-style: none;
  color: #EFE4CE; 
}

.label-input{
    display: flex;
    flex-direction: column;
}

.booking form{
    display: flex;
    gap:0.5rem;
}

.card{
    background-color: #FAF9EF;
    border-radius: 1rem 1rem;
}

.card-vertical{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-horizontal{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}